html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body{
    background-image: url("img/669303.png");
    background-size: cover;
    background-position: 50%;
    background-color: black;
    justify-items: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    min-width: 100vh;
    width: 100%;
}

.main-container{
    max-width: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center; 
    align-items: center;
    margin: auto;
    padding-top: 0vh;
    flex-wrap: wrap;
}

h1{
    text-shadow: 1px 1px 0px #000000;
    color: white;
    margin: 5px 5px;
    margin-bottom: 10vh;
}

p{
    font-family: "Times New Roman", Times, serif;
    text-shadow: 1px 1px 0px #000000;
    color: yellow;
    font-size: 48px;
    margin: 0vh;
}

span{
    display: inline-flex;
    justify-content: center;
    text-shadow: 1px 1px 0px #000000;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.contener{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.142);
    padding: 2vh;
    border-radius: 15px;
    width: 100px;
    min-width: 20px;
    backdrop-filter: blur(4px);
    border: 20px solid rgba(255, 255, 255, 0.012);
    box-shadow: 4px 4px 0px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.contener:hover{
    transform: translateY(-8px);
    background: rgba(255, 255, 255, 0.401);
}
